body{
    background: aqua;
  }
  header{
   text-align: center;
    background: blue;
    color: white;
    height: 50px;
    border: 1px solid black;
  }
  nav{
    color: black;
    background: white;
     height: 20px;
    border: 1px solid black;
  }
  .nav{
    border: 1px solid black;
    background: lightblue;
    font-weight:bold;
    
  }
  .nav:hover{
    background:yellow;
  }
  .nav:visited{
    color:white;
    background:grey;
  }
  div,article{
    margin:30px;
    height:200px;
    text-align: center;
    border: 1px solid black;
  }
  main{
    float: right;
    width: 70%;
    border: 5px solid blue;
    margin:0.5%;
    height: 500px;
  }
  aside{
    float:left;
    width: 25%;
    margin:0.5%;
    height: 500px;
    border: 5px solid blue;
  }
  footer{
    position: fixed;
    background: blue;
    text-align: center;
    color: white;
    width: 99%;
    bottom: 25%;
  }
  
  a:link{
   background:white;
  }