div {
  text-align: center;
  
}

.box1 {
  position: fixed;
  width:20%;
  padding-bottom:35%;

  border: 2px solid black;
  background-color:red;
}

.box2 {
 float:right;
 width:75%;
 border: 2px solid black;
}

.box {
  float: right;
  width: 75%;
  margin-top:10%;
  
}

.box3{
  float:left;
  width:62%;
   padding-bottom:40%;
  border: 2px solid black;
}

.box4 {
  float:right;
  width:32%;
  padding-bottom:40%;
  border: 2px solid black;
}

.box5 {
  float:right;
  width:50%;
  margin-top:10%;
  border: 2px solid black;
}