div{
    text-align:center;
  }
  .box1{
      position: absolute;
      padding-bottom: 100%;
    padding-right: 25%;
      border: 2px solid black;
    }
  .box2{
       position: absolute;
    left:30%;
      padding-bottom: 10%;
    padding-right:75%;
      border: 2px solid black;
  }