body{
    background-color:white;
}
h1{
    text-align: center;
    background-color: lightgray;
    color: black;
}
#b{
    width: 100px;
    background-color: black;
    color: white;
   
}