.box1 {
    position: absolute;

    border: 2px solid black;
    width: 33%;
    height: 100px;
}

.box2 {
    position: relative;
    left: 34%;
    border: 2px solid black;
    width: 66%;
    height: 100px;
}

.box3 {
    position: relative;
    border: 2px solid black;
    width: 25%;
    height: 100px;
}

.box4 {
    position: relative;
    border: 2px solid black;
    width: 50%;
    height: 100px;
}

.box5 {
    position: relative;
    border: 2px solid black;
    width: 25%;
    height: 100px;
}

.box6 {
    position: relative;
    border: 2px solid black;
    width: 100%;
    height: 50px;
}