.r1{
    color: teal;
}
.r2{
color: red;
}
.r3{
    color: blue;
}
.r4{
    color: orange;
}
.r5{
    color: purple;
}
.r6{
    color: olive;
}
.r7{
    color: fuchsia;
}
.r8{
    color: green;
}
#c1{
    background-color: white;
}
#c2{
   background-color: red; 
}
#c3{
    background-color: green;
}
#c4{
    background-color: blue;
}